* {
  box-sizing: border-box;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 8px;
}

.m {
  &-1 {
    margin-top: 1rem;
  }
  &-1-2 {
    margin: 1.2rem 0;
  }
}

